/* src/App.css - Nossos Estilos Globais */

body {
  /* Define a fonte oficial da marca para toda a página */
  font-family: 'Montserrat', sans-serif;
}

/* Estilo para o nosso rodapé personalizado com a cor da marca */
.footer-gerti {
  background-color: #5520ae; /* O roxo oficial da GERTI */
}

/* Estilos para os links dentro do rodapé */
.footer-link {
  color: rgba(255, 255, 255, 0.7) !important;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.footer-link:hover {
  color: rgba(255, 255, 255, 1) !important;
}